@import "gruv.css";

* {
  font-family: "Maple Mono", "JetBrains MonoNL", "JetBrains Mono", "JetBrainsMono Nerd Font", "CaskaydiaCove Nerd Font", "Source Code Pro";
  font-size: 16px;
  min-height: 0;
  padding: 0;
  margin: -1;
}

window#waybar {
  background-color: rgba(27, 27, 27, 0.8);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.1s;
}

#window {
  margin: 8px;
  padding-left: 8;
  padding-right: 8;
}

button {
  border: none;
  border-radius: 0;
  color: @foreground;
  min-width: 0;
  padding: 10;
}

button:hover {
  background: inherit;
  color: @orange;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @orange;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @orange;
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.empty {
  color: @gray;
}

#workspaces button.empty:hover {
  color: @orange;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
/*#window,*/
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
  color: @green;
}

#pulseaudio {
  color: @magenta;
}

#network {
  color: @yellow;
}

#mode,
#battery {
  color: @lightred;
}

#window {
  color: @white;
}

